:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#grid {
  height: 860px;
  width: 860px;
  display: grid;
  grid-gap: 0em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  margin: auto;
}

.grid-item {
  border: 1px solid gray;
  text-align: center;
  aspect-ratio: 1;
}

.grid-item:hover {
  background-color: black;
}
